.container {
    --space-left: .5em;
    --radius: .2em;

    font-family: Helvetica;
    display: flex;
    position: relative;
    margin: .5em 0;
    border-radius: var(--radius);
    cursor: pointer;
}
.label {
    position: absolute;
    border-radius: var(--radius);
    left: var(--space-left);
    top: 0;
    transform: translateY(.5em);
    font-size: .9em;
    background: white;
    transition: all .3s;
    padding: 0 .25em;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(84, 84, 84);
}
.input {
    padding: var(--space-left);
    width: 100%;
    outline: none;
    border: none;
    color: rgb(84, 84, 84);
    border-radius: .5em;
    border: 2px solid rgb(84, 84, 84);
}
.input:focus + .label,
.input:not(:placeholder-shown):not([value=""]) + .label {
    transform: translateY(-50%);
    font-size: .75em;
}
.input:focus {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}