.containerAll {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    text-align: center;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display: grid;
    grid-gap: 1em;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer > * {
    margin: .25em 0;
}